/* Import Font Montserrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);

body {
	font-family: Montserrat;
	font-size: 16px;
	background-image: linear-gradient(302deg, #23303d, #303943);
	color: #fff;
	height: 100vh;
}

/* Global */
a {
	color: #fff;
	transition: .3s;
	text-decoration: underline;
}
a:hover,a:focus {
	color: #ff4b1f;
}

/* Navbar */
#header {
	position: absolute;
	top: 40px;
	width: 100%
}
.navbar {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	z-index: 1030;
}
.navbar-expand > .container, .navbar-expand > .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}
.navbar .navbar-nav .nav-item:not(:first-child) {
	padding-left: 50px;
}
.navbar .navbar-nav .nav-link {
	letter-spacing: 0.8px;
	text-decoration: none;
	padding: 0;
	padding-bottom: 5px;
	font-size: 14px;
}
.navbar .navbar-nav .nav-link.active {
	border-bottom: 2px solid #fff;
}

/* Introduction */
#intro p,#intro a {
	font-size: 20px;
	letter-spacing: 1px;
	transition: .3s;
}
#intro .step {
	position: absolute;
	top: 0;
	padding-top: 30vh;
	padding-left: 20vw;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
}
#intro .step.active {
	visibility: visible;
	opacity: 1;
}

/* Range Slider */
#sliderWrapper {
	position: absolute;
	width: 100%;
	bottom: 50px;
}
#sliderWrapper #stepSlider {
	height: 1px;
	border: none;
}
#sliderWrapper #stepSlider .noUi-handle {
	width: 26px;
	height: 26px;
	top: -13px;
	border-radius: 100%;
	border: none;
	box-shadow: none;
	outline: none;
	background-image: linear-gradient(313deg, #ff4b1f, #f06b3b);
}
#sliderWrapper #stepSlider .noUi-handle:before, #sliderWrapper #stepSlider .noUi-handle:after {
	content: none;
}
#sliderWrapper .sliderLabels {
	display: flex;
	margin-top: 20px;
}
#sliderWrapper .sliderLabels .left,#sliderWrapper .sliderLabels .right {
	flex: auto;
}
#sliderWrapper .sliderLabels .right {
	text-align: right;
}
#sliderWrapper .sliderLabels span {
	font-size: 10px;
	letter-spacing: 1.2px;
}

/* Contact page */
#mainContent {
	background-image: linear-gradient(302deg, #ff4b1f, #f06b3b);
	height: 100vh;
}
#contact {
	display: flex;
	height: 100vh;
}
#contact .contact-content {
	align-self: center;
}
#contact h1 {
	font-size: 50px;
	font-weight: 600;
	letter-spacing: -0.3px;
	margin-bottom: 40px;
}
#contact .contact-info {
	margin-bottom: 40px;
}
#contact .contact-info p {
	margin: 0;
	letter-spacing: 1px;
}
#contact .social-icons li {
	margin-right: 25px;
}
#contactBackground {
	position: absolute;
	background: url(../img/img-contact.png);
	background-size: cover;
	width: 41.666667%;
	height: 100vh;
	top: 0;
	right: 0;
}

/* Portfolio */
.portfolio {
	background-size: cover;
	position: relative;
	cursor: pointer;
	transition: .3s;
}
.portfolio:hover:before {
	background-color: #ff4b1f;
}
.portfolio:before {
	content: '';
	position: absolute;
	transition: .3s;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(35, 48, 61, 0.1);
}
.portfolio-body {
	position: absolute;
	bottom: 40px;
	padding: 0 40px;

}
.portfolio-body .description {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.8px;
	margin: 0;
	max-width: 400px;
}
.portfolio-body .company {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -0.2px;
	margin: 0;
	line-height: 50px;
}

@media screen and (max-width: 767px) {
	.container,.container-fluid {
		padding: 0 20px;
	}
	#header {
		top: 10px;
	}
	.navbar-expand > .container, .navbar-expand > .container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar .navbar-nav .nav-item:not(:first-child) {
		padding-left: 10px;
	}
	#intro p, #intro a {
		font-size: 16px;
	}
	#sliderWrapper {
		bottom: 20px;
	}
	#intro .step {
		padding-top: 70px;
		padding-left: 0;
	}
	#contactBackground {
		display: none;
	}
}