/* Import Font Montserrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);

body {
	font-family: Montserrat;
	font-size: 14px;
	background-image: linear-gradient(302deg, #23303d, #303943);
	color: #fff;
}
#mainContent {
	position: relative;
	height: 100vh;
}

/* Global */
a {
	color: #fff;
	transition: .3s;
	text-decoration: underline;
}
a:hover,a:focus {
	color: #ff4b1f;
}

/* Navbar */
#mainContent #header {
	padding-top: 60px;
}
#mainContent .navbar {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	z-index: 1030;
}
#mainContent .navbar-expand > .container, #mainContent .navbar-expand > .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}
#mainContent .navbar .navbar-nav .nav-link {
	letter-spacing: 0.8px;
	padding-left: 40px;
	text-decoration: none;
}

/* Introduction */
#mainContent #intro p,#mainContent #intro a {
	font-size: 20px;
	letter-spacing: 1px;
	transition: .3s;
}
#mainContent #intro .step {
	position: absolute;
	top: 0;
	padding-top: 30vh;
	padding-left: 20vw;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
}
#mainContent #intro .step.active {
	visibility: visible;
	opacity: 1;
}

/* Range Slider */
#mainContent #sliderWrapper {
	position: absolute;
	width: 100%;
	bottom: 50px;
}
#mainContent #sliderWrapper #stepSlider {
	height: 1px;
	border: none;
}
#mainContent #sliderWrapper #stepSlider .noUi-handle {
	width: 26px;
	height: 26px;
	top: -13px;
	border-radius: 100%;
	border: none;
	box-shadow: none;
	outline: none;
	background-image: linear-gradient(313deg, #ff4b1f, #f06b3b);
}
#mainContent #sliderWrapper #stepSlider .noUi-handle:before, #mainContent #sliderWrapper #stepSlider .noUi-handle:after {
	content: none;
}
#mainContent #sliderWrapper .sliderLabels {
	display: flex;
	margin-top: 20px;
}
#mainContent #sliderWrapper .sliderLabels .left,#mainContent #sliderWrapper .sliderLabels .right {
	flex: auto;
}
#mainContent #sliderWrapper .sliderLabels .right {
	text-align: right;
}
#mainContent #sliderWrapper .sliderLabels span {
	font-size: 10px;
	letter-spacing: 1.2px;
}

@media screen and (max-width: 768px) {
	.container,.container-fluid {
		padding: 0 20px;
	}
	#mainContent #header {
		padding-top: 10px;
	}
	#mainContent .navbar-expand > .container, #mainContent .navbar-expand > .container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}
	#mainContent #intro p, #mainContent #intro a {
		font-size: 16px;
	}
	#mainContent #sliderWrapper {
		bottom: 20px;
	}
	#mainContent #intro .step {
		padding-top: 70px;
		padding-left: 0;
	}
}